body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    background-color: grey;
    padding: 20px;
}
#testo1, #testo2 {
    font-size: 30px;
}

#testo1{
    color: blue;
}
#testo2{
    color: darkred;
}